
body {
  margin: 30px;
}

.creation_form {
  margin:  20px;
  padding: 10px;
}

.creation_form .field_wrap {
  margin-top: 20px;
}

.creation_form .field_wrap label {
  display:   inline-block;
  min-width: 170px;
}

.creation_form .field_wrap .error {
  display:       inline-block;
  color:         red;
  border:        1px solid red;
  padding-left:  10px;
  padding-right: 10px;
}
