body {
  margin:           30px;
  font-family:     'Bangers', cursive;
  background-color: honeydew;
  letter-spacing:   1.5px;
  font-size:        20px;
}

.creation_form {
  margin:  20px 20px 20px 0;
  padding: 10px;
}

.creation_form .field_wrap {
  margin-top: 20px;
}

.creation_form .field_wrap input[type='text'] {
  height: 20px;
}

.creation_form .field_wrap label {
  display:   inline-block;
  min-width: 200px;
}

.validate_btn
{
  font-family:     'Bangers', cursive;
  letter-spacing:   1.5px;
  font-size:        20px;
  padding:          6px 10px;
  border:           0 none;
  background-color: rebeccapurple;
  color:            azure;
  cursor:           pointer;
}

.creation_form .field_wrap .error {
  display:       inline-block;
  color:         red;
  border:        1px solid red;
  padding-left:  10px;
  padding-right: 10px;
}

.main_table table {
  border-collapse: collapse;
  max-width:       100%;
}

.main_table td {
  border: 1px solid blue;
  width:  60px;
  height: 30px;
  cursor: pointer;
}
